###############
### Generic ###
###############

# Backups
*.bak

# Logs
*.log
log/
logs/

# Temporary
*~
*.tmp
*.temp
tmp/
temp/


#########################
### Operating Systems ###
#########################

# macOS
.AppleDB/
.AppleDesktop/
.AppleDouble/
.DocumentRevisions-V100/
.fseventsd/
.Spotlight-V100/
.TemporaryItems/
.Trashes/
Network Trash Folder/
Temporary Items/
._*
.apdisk
.com.apple.timemachine.donotpresent
.DS_Store
.LSOverride
.VolumeIcon.icns
# Icon must end with two carriage returns (\r)
Icon

# Windows
$RECYCLE.BIN/
[Dd]esktop.ini
ehthumbs.db
ehthumbs_vista.db
[Tt]humbs.db


###############
### Editors ###
###############

# Vim
.netrwhist
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Visual Studio
*.user
.vs/

# Visual Studio Code
.vscode/ipch


###################
### Build Tools ###
###################

# MSBuild
**/bin/Debug/
**/bin/Release/
**/obj/Debug/
**/obj/Release/

# vim: syntax=conf cc=80 tw=79 ts=4 sw=4 sts=4 et sr
