# EditorConfig
# http://EditorConfig.org

# Don't search any further up the directory tree
root = true

# Baseline
[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# JavaScript
[*.js]
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false

# XML documents & schemas
[*.{xml,xsd,ps1xml}]
insert_final_newline = false

# Fiddler scripts
[fiddler/Scripts/*.{cs,js}]
charset = utf-8-bom
insert_final_newline = false

# Git configuration
[.gitconfig*]
indent_style = tab

# JetBrains DotPeek configuration
[*.DotSettings]
indent_style = tab
insert_final_newline = false

# JetBrains IDE configuration
[jetbrains/**/*.xml]
indent_size = 2

# Shell scripts
[{*.sh,.bashrc,.mk-sbuild.rc,.quiltrc,user-dirs.dirs}]
max_line_length = 79
keep_padding = true             # shfmt: -kp
space_redirects = true          # shfmt: -sr
switch_case_indent = true       # shfmt: -ci

# Shell scripts: bin/
#
# Matching on a pattern with a path separator alongside other patterns
# via curly braces doesn't appear to be possible. So sadly, we have to
# duplicate the above section for matching files under "bin/" dirs.
[**/bin/*]
max_line_length = 79
keep_padding = true             # shfmt: -kp
space_redirects = true          # shfmt: -sr
switch_case_indent = true       # shfmt: -ci

# Shell scripts: POSIX
[{.mk-sbuild.rc,.quiltrc,user-dirs.dirs}]
shell_variant = posix           # shfmt: -p

# Windows Event Viewer filters
[windows/Event Viewer filters/*.{xml,xsd}]
indent_size = 2

# XDG user directories locale
[xdg-user-dir/.config/user-dirs.locale]
insert_final_newline = false
