# EditorConfig
# http://EditorConfig.org

# Don't search any further up the directory tree
root = true

# Baseline
[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# JavaScript
[*.js]
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false

# Windows Registry
[*.reg]
indent_size = 2

# XML documents & schemas
[*.{xml,xsd}]
insert_final_newline = false

# ConEmu configuration
[conemu/*.xml]
indent_style = tab

# Fiddler scripts
[fiddler/Scripts/*.{cs,js}]
charset = utf-8-bom
insert_final_newline = false

# Git configuration
[.gitconfig*]
indent_style = tab

# Onetastic file
[*.onetastic]
insert_final_newline = false

# PowerShell XML file
[*.ps1xml]
insert_final_newline = false

# Shell scripts
[{*.sh,*.bash,.bashrc,.mk-sbuild.rc,.quiltrc,.startxwinrc,user-dirs.dirs}]
max_line_length = 79
keep_padding = true             # shfmt: -kp
space_redirects = true          # shfmt: -sr
switch_case_indent = true       # shfmt: -ci

# Shell scripts: POSIX
[{.mk-sbuild.rc,.quiltrc,.startxwinrc,user-dirs.dirs}]
shell_variant = posix           # shfmt: -p

# Shell scripts: bin/
#
# Matching on a pattern with a path separator alongside other patterns
# via curly braces doesn't appear to be possible. So sadly, we have to
# duplicate the above section for matching files under "bin/" dirs.
[**/bin/*]
max_line_length = 79
keep_padding = true             # shfmt: -kp
space_redirects = true          # shfmt: -sr
switch_case_indent = true       # shfmt: -ci

# Windows Event Viewer filter
[windows/Event Viewer/**.{xml,xsd}]
indent_size = 2

# Windows Performance Recorder configuration
[windows/Windows Performance Recorder/*.xml]
indent_size = 2

# Windows Sandbox configuration
[*.wsb]
indent_size = 2
insert_final_newline = false

# XDG user directories locale
[xdg-user-dir/.config/user-dirs.locale]
insert_final_newline = false

# vim: syntax=dosini cc=80 tw=79 ts=4 sw=4 sts=4 et sr
