# Ignore tor-arm cache
arm/.arm/cache

# Clink system specific data
clink/.history
clink/clink.log

# Only ever include the KiTTY config
kitty/**

# Never include our irssi config
irssi

# Ignore PoSh modules folder
posh/Modules

# Make sure we exclude Subversion auth data
subversion/.subversion/auth

# Ignore Vim bundle folder (git repos clone here)
vim/.vim/bundle
