# Files to convert to a different encoding on checkout/commit
*.rdp                                       working-tree-encoding=UTF-16LE-BOM
*.reg                                       working-tree-encoding=UTF-16LE-BOM

# Script files should always be LF terminated
*.sh                            text        eol=lf
*.bash                          text        eol=lf
*.fish                          text        eol=lf
*.zsh                           text        eol=lf
.bashrc                         text        eol=lf
.mk-sbuild.rc                   text        eol=lf
.quiltrc                        text        eol=lf
.shellcheckrc                   text        eol=lf
.startxwinrc                    text        eol=lf
.zshrc                          text        eol=lf
user-dirs.dirs                  text        eol=lf
git/bin/*                       text        eol=lf
git/hooks/*                     text        eol=lf
openssh/bin/*                   text        eol=lf
scripts/bin/*                   text        eol=lf

# Override Linguist detected language for certain files
.vscode/*.json                  linguist-language=jsonc
vscode/*.json                   linguist-language=jsonc

# Exclude vendored code from Linguist language detection
stow/*                          linguist-vendored
themes/*                        linguist-vendored
vim/.vim/autoload/*             linguist-vendored

# vim: syntax=conf cc=80 tw=79 ts=4 sw=4 sts=4 et sr
