# Clink Readline configuration
# https://chrisant996.github.io/clink/clink.html#configuring-readline
#
# Last reviewed release: v1.8.7
# Default file paths in preference order:
# - %CLINK_INPUTRC%
# - Clink profile directory
#   Default: %LOCALAPPDATA%\clink
#   Override: %CLINK_PROFILE%
# - %USERPROFILE%
# - %LOCALAPPDATA%
# - %APPDATA%
# - %HOME% or %HOMEDRIVE%%HOMEPATH%
#
# Directories are searched for a ".inputrc" or "_inputrc" file (in that order).
#
# Added settings which are specific to Clink:
# - completion-auto-query-items
# - history-point-at-end-of-anchored-search
# - menu-complete-wraparound
#
# Removed settings which are unsupported by Clink:
# - active-region-end-color
# - bind-tty-special-chars
# - completion-map-case
# - convert-meta
# - disable-completion
# - enable-bracketed-paste
# - enable-keypad
# - enable-meta-key
# - force-meta-prefix
# - history-size
# - input-meta
# - keyseq-timeout
# - output-meta
# - revert-all-at-newline

# ------------------------------- Completion ----------------------------------

# Display the common prefix of possible completions using a different colour
#
# Colour definitions are taken from the LS_COLORS environment variable.
set colored-completion-prefix on

# Display possible completions using different colours to indicate file type
#
# Colour definitions are taken from the LS_COLORS environment variable.
set colored-stats on

# Prompt before displaying completions if they won't fit without scrolling
#
# Overrides the "completion-query-items" setting.
set completion-auto-query-items on

# Number of screen columns used to display possible completions
#
# Ignored if less than zero or greater than the terminal screen width.
#
# Valid values:
# -  0      Display one match per line
# - >0      Number of screen columns per line
set completion-display-width -1

# Perform filename matching and completion case-insensitively
set completion-ignore-case on

# Maximum number of characters in the common prefix of possible completions to
# display without modification.
#
# If greater than zero, common prefixes longer than this value will be replaced
# with an ellipsis. If filenames are being completed and a completion begins
# with a period, three underscores will be used instead of an ellipsis.
set completion-prefix-display-length 0

# Maximum number of possible completions to display without prompting the user
# for comfirmation.
#
# Valid values:
# - <=0     Never prompt to display completions
# - >=1     Number of completions which triggers a confirmation prompt
set completion-query-items 200

# Perform tilde expansion when performing word completion
set expand-tilde on

# Display completed directory names with an appended slash
set mark-directories on

# Display completed directory symlinks with an appended slash
#
# Only applies when "mark-directories" is enabled.
set mark-symlinked-directories on

# When performing filename matching, include hidden files without requiring the
# leading "." to be included in the filename.
set match-hidden-files off

# When performing menu completion, display the common prefix of possible
# completions before cycling through the completions list.
set menu-complete-display-prefix off

# When performing menu completion, wrap-around on reaching the last completion
set menu-complete-wraparound on

# Display possible completions using an internal more(1)-like pager
set page-completions off

# Display possible completions with matches sorted horizontally
set print-completions-horizontally off

# When there is more than one possible completion, display the completions
# immediately instead of ringing the terminal bell.
set show-all-if-ambiguous on

# When there is more than one possible completion and no partial completion,
# display the completions immediately instead of ringing the terminal bell.
set show-all-if-unmodified on

# Factor text after the cursor position in a word into completion matching,
# avoiding duplicating the portion of the word following the cursor.
set skip-completed-text on

# Append a character denoting a file's type when listing possible completions
set visible-stats on

# --------------------------------- Editing -----------------------------------

# Default set of key bindings
#
# Valid values:
# - emacs
# - vi
set editing-mode emacs

# Keymap for key binding commands
#
# Valid values:
# - emacs-standard
#   Synonyms: emacs
# - emacs-ctlx
# - emacs-meta
# - vi-command
#   Synonyms: vi, vi-move
# - vi-insert
set keymap emacs

# Handling of the terminal bell
#
# Valid values:
# - none        Never ring the bell
# - visible     Ring the visible bell
# - audible     Ring the audible bell
set bell-style none

# Briefly move the cursor to the opening parenthesis on closing
set blink-matching-paren off

# String to insert at the beginning of a line by the "insert-comment" command
set comment-begin ::

# Echo a corresponding control character for keyboard generated signals
set echo-control-characters off

# Scroll lines longer than the screen width being edited instead of wrapping
set horizontal-scroll-mode off

# Use the visible bell if available instead of ringing the terminal bell
#
# Overrides the "bell-style" setting.
#set prefer-visible-bell on

# Add a string to the begining of the prompt indicating the editing mode
set show-mode-in-prompt off

# String displayed immediately before the last line of the primary prompt when
# emacs editing mode is active.
#
# Only applies when "show-mode-in-prompt" is enabled.
set emacs-mode-string @

# String displayed immediately before the last line of the primary prompt when
# vi editing mode is active and in command mode.
#
# Only applies when "show-mode-in-prompt" is enabled.
set vi-cmd-mode-string (cmd)

# String displayed immediately before the last line of the primary prompt when
# vi editing mode is active and in insertion mode.
#
# Only applies when "show-mode-in-prompt" is enabled.
set vi-ins-mode-string (ins)

$if version >= 8.3
# Enable certain commands to designate a region as "active", highlighting the
# text in the region. See the "active-region-start-color" and "active-region-
# end-color" settings to control the highlighting.
set enable-active-region on

# Escape sequences to set text colour and background in an active region
set active-region-start-color \e[0;7m

$endif

# --------------------------------- History -----------------------------------

# Place cursor at end of line for history-search-(forward|backward) commands
set history-point-at-end-of-anchored-search on

# Preserve the current cursor position when browsing history
set history-preserve-point off

# String of characters to terminate an incremental history search
set isearch-terminators \e\C-j

# Mark modified history lines with a prepended asterisk
set mark-modified-lines off

# Perform searches of the history list case-insensitively
$if version >= 8.3
set search-ignore-case on
$endif

# ------------------------------ Key bindings ---------------------------------

# Interrogate the Readline configuration
"\C-x\C-f": dump-functions
"\C-x\C-m": dump-macros
"\C-x\C-v": dump-variables
