# Clink Readline configuration
#
# Last updated for: v1.4.0

# ----------------------------- Config Settings -------------------------------

# The following settings are removed as they do not apply to Clink:
# - bind-tty-special-chars
# - completion-map-case
# - convert-meta
# - disable-completion
# - enable-meta-key
# - enable-keypad
# - history-size
# - input-meta
# - keyseq-timeout
# - output-meta
# - revert-all-at-newline
#
# The following settings are only supported by Clink:
# - completion-auto-query-items
# - history-point-at-end-of-anchored-search
# - menu-complete-wraparound
# - search-ignore-case

# Handling of the terminal bell
#
# Valid values:
# - none            Never ring the bell
# - visible         Ring the visible bell
# - audible         Ring the audible bell
set bell-style none

# Briefly move the cursor to the opening parenthesis on entering the close
set blink-matching-paren off

# Display the common prefix of possible completions in a different colour
set colored-completion-prefix on

# Display completion matches using different colours to indicate file type
set colored-stats on

# String to insert at the beginning of the line for insert-comment command
set comment-begin '#'

# Prompt before displaying completions if they won't fit without scrolling
#
# If enabled, overrides the completion-query-items setting.
set completion-auto-query-items on

# Number of screen columns used to display possible completion matches
#
# Ignored if <0 or greater than the terminal screen width.
#
# Valid values:
# -  0              Display one match per line
# - >0              Number of columns to use per line of matches
set completion-display-width -1

# Perform filename matching and completion case-insensitively
set completion-ignore-case on

# Maximum length of the common prefix in a list of completion matches which is
# displayed without modification. If >0, common prefixes longer than this value
# will be replaced with an ellipsis when displaying the possible completions.
set completion-prefix-display-length 0

# Number of possible completions for which confirmation is needed to display
#
# Valid values:
# - <0              Never prompt to display completion matches
# -  0              Always prompt to display completion matches
# - >0              Prompt if more than this number of matches
set completion-query-items 200

# Echo the corresponding control character for keyboard generated signals
set echo-control-characters off

# Default set of key bindings
#
# Valid values:
# - emacs           Emacs-style key bindings
# - vi              vi-style key bindings
set editing-mode emacs

# String displayed immediately before the last line of the primary prompt when
# emacs editing mode is active.
#
# Only applies if using emacs editing mode and show-mode-in-prompt is enabled.
set emacs-mode-string '@'

# Insert each paste into the editing buffer as a single string of characters
set enable-bracketed-paste on

# Perform tilde expansion when attempting word completion
set expand-tilde off

# Place cursor at end of line for history-search-(forward|backward) commands
set history-point-at-end-of-anchored-search on

# Preserve the current cursor position when browsing history
set history-preserve-point off

# Scroll lines longer than the screen width being edited instead of wrapping
set horizontal-scroll-mode off

# String of characters to terminate an incremental search
set isearch-terminators '\C-[\C-J'

# Keymap for key binding commands
#
# The value of editing-mode affects the default keymap.
#
# Valid values:
# - emacs-standard      Synonyms: emacs
# - emacs-ctlx
# - emacs-meta
# - vi-command          Synonyms: vi, vi-move
# - vi-insert
#set keymap emacs

# Mark completed directory names with an appended slash
set mark-directories on

# Mark modified history lines with a prepended asterisk
set mark-modified-lines off

# Mark completed directory symlinks with an appended slash
#
# Only applies if mark-directories is enabled.
set mark-symlinked-directories on

# Include hidden files without a leading "." when performing completion
set match-hidden-files off

# Display the common prefix of the possible completions (which may be empty)
# before cycling through the completions list when performing menu completion.
set menu-complete-display-prefix off

# Wrap-around on reaching the end of completions for menu-complete commands
set menu-complete-wraparound on

# Display completion matches using an internal more-like pager if needed
set page-completions off

# Display completion matches sorted horizontally in alphabetical order
set print-completions-horizontally off

# Perform history search case-insensitively
set search-ignore-case on

# List completion matches immediately when there's multiple completions
set show-all-if-ambiguous on

# List completion matches immediately when there's no common prefix
set show-all-if-unmodified on

# Add a character to the begining of the prompt showing the editing mode
set show-mode-in-prompt off

# Factor any text after the cursor position in a word into completion matching
set skip-completed-text on

# String displayed immediately before the last line of the primary prompt when
# vi editing mode is active and in command mode.
#
# Only applies if using vi editing mode and show-mode-in-prompt is enabled.
set vi-cmd-mode-string '(cmd)'

# String displayed immediately before the last line of the primary prompt when
# vi editing mode is active and in insertion mode.
#
# Only applies if using vi editing mode and show-mode-in-prompt is enabled.
set vi-ins-mode-string '(ins)'

# Append a character denoting a file's type when listing completion matches
set visible-stats on
