[ req ]
default_bits                        = 4096
default_md                          = sha256

encrypt_key                         = no
prompt                              = yes
utf8                                = yes
string_mask                         = utf8only

distinguished_name                  = req_dn
req_extensions                      = req_ext
x509_extensions                     = req_ext


[ req_dn ]
# CN=
commonName                          = Common Name
commonName_max                      = 64
# E=
emailAddress                        = Email Address
emailAddress_max                    = 64
# OU=
organizationalUnitName              = Organisational Unit
# O=
organizationName                    = Organisation
# L=
localityName                        = Locality/Suburb
# ST=
stateOrProvinceName                 = State/Territory/Province
# C=
countryName                         = Country (2 letter code)
countryName_min                     = 2
countryName_max                     = 2


[ req_ext ]
# Basic Constraints
basicConstraints                    = CA:FALSE

# Key Usage
#
# Valid values:
# - cRLSign
# - dataEncipherment
# - decipherOnly
# - digitalSignature
# - encipherOnly
# - keyAgreement
# - keyCertSign
# - keyEncipherment
# - nonRepudiation
keyUsage                            = dataEncipherment, keyEncipherment

# Extended Key Usage
#
# Common EKUs:
# - serverAuth
# - clientAuth
# - Any OID
#extendedKeyUsage                    = serverAuth, 1.2.3.4

# Subject Alternative Name
#subjectAltName                      = @req_san


[ req_san ]
# Types:
# - dirName
# - DNS
# - email
# - IP
# - otherName
# - RID
# - URI
#DNS.1                               = example.com
#DNS.2                               = sample.com

# vim: syntax=dosini cc=80 tw=79 ts=4 sw=4 sts=4 et sr
