# ShellCheck settings
# https://github.com/koalaman/shellcheck/wiki/Directive#shellcheckrc-file
#
# Last reviewed release: v0.11.0
# Default file paths in preference order:
# - .shellcheckrc, shellcheckrc
#   In script directory and each parent directory up to the root
# - User data directory
#   Unix-like: ~/.shellcheckrc
#   Windows: %APPDATA%/shellcheckrc
# - XDG config directory
#   Unix-like: ${XDG_CONFIG_HOME:-~/.config}/shellcheckrc
#   Windows: ${XDG_CONFIG_HOME:-%APPDATA%}/shellcheckrc

# List of optional checks to enable
enable=all

# List of checks to disable
#
# Check ID          Symbolic name                   Type
# SC2250            require-variable-braces         optional
disable=SC2250

# Add the script directory to the search path for source statements
source-path=SCRIPTDIR

# vim: syntax=conf cc=80 tw=79 ts=4 sw=4 sts=4 et sr
