<QueryList>
  <Query Id="0" Path="System">
    <Select Path="System">*</Select>

    <!--
      DCOM event ID 10016 is logged in Windows
      https://docs.microsoft.com/en-US/troubleshoot/windows-client/application-management/event-10016-logged-when-accessing-dcom
    -->
    <Suppress Path="System">
      *[System[Provider[@Name='Microsoft-Windows-DistributedCOM'] and EventID=10016]]
    </Suppress>

    <!--
      Windows failed to apply the MDM Policy settings error when running gpupdate /force on hybrid Azure AD-joined devices
      https://docs.microsoft.com/en-us/troubleshoot/mem/intune/windows-failed-to-apply-mdm-policy
    -->
    <Suppress Path="System">
      *[System[Provider[@Name='Microsoft-Windows-GroupPolicy'] and EventID=1085]]
      and
      *[EventData[Data[@Name='ExtensionName'] and Data='MDM Policy']]
      and
      *[EventData[Data[@Name='ErrorCode'] and Data=2149056522]]
    </Suppress>
  </Query>
</QueryList>
