<QueryList>
  <Query Id="0" Path="System">
    <Select Path="System">*</Select>

    <!--
      Sources with high volume informational events rarely of interest

      PROVIDER                                    DESCRIPTION
      Microsoft-Windows-Hyper-V-VmSwitch          Hyper-V Virtual Switch
    -->
    <Suppress Path="System">
      *[System[
        (
          Provider[@Name='Microsoft-Windows-Hyper-V-VmSwitch']
        )
        and
        Level=4
      ]]
    </Suppress>

    <!--
      Kernel-General
      The access history in hive %2 was cleared updating %3 keys and creating %4 modified pages.

      Rarely of interest and often high volume.
    -->
    <Suppress Path="System">
      *[System[Provider[@Name='Service Control Manager'] and EventID=16]]
    </Suppress>

    <!--
      Service Control Manager
      The %1 service entered the %2 state.

      Rarely of interest and often high volume, particularly on server SKUs.
    -->
    <Suppress Path="System">
      *[System[Provider[@Name='Service Control Manager'] and EventID=7036]]
    </Suppress>

    <!--
      Service Control Manager (BITS)
      The start type of the %1 service was changed from %2 to %3.

      The Background Intelligent Transfer Service often changes its start type.
    -->
    <Suppress Path="System">
      *[System[Provider[@Name='Service Control Manager'] and EventID=7040]]
      and
      *[EventData[Data[@Name='param4'] and Data='BITS']]
    </Suppress>

    <!--
      User-Mode Driver Framework
      UMDF reflector is unable to connect to service control manager (SCM). This is expected during boot, when SCM has not started yet. Will retry when it starts.

      Rarely of interest and often emitted numerous times during system startup.
    -->
    <Suppress Path="System">
      *[System[Provider[@Name='Microsoft-Windows-DriverFrameworks-UserMode'] and EventID=10118]]
    </Suppress>

    <!--
      DCOM event ID 10016 is logged in Windows
      https://docs.microsoft.com/en-us/troubleshoot/windows-client/application-management/event-10016-logged-when-accessing-dcom
    -->
    <Suppress Path="System">
      *[System[Provider[@Name='Microsoft-Windows-DistributedCOM'] and EventID=10016]]
    </Suppress>

    <!--
      Event ID 219 is logged when a device is plugged into a Windows-based system
      https://docs.microsoft.com/en-us/troubleshoot/windows-client/deployment/event-id-219-when-device-plugged-in-windows-system

      Status:       0xc0000365 (STATUS_FAILED_DRIVER_ENTRY)
    -->
    <Suppress Path="System">
      *[System[Provider[@Name='Microsoft-Windows-Kernel-PnP'] and EventID=219]]
      and
      *[EventData[
        Data[@Name='FailureName'] and Data='\Driver\WudfRd' and
        Data[@Name='Status'] and Data=3221226341
      ]]
    </Suppress>

    <!--
      Windows failed to apply the MDM Policy settings error when running gpupdate /force on hybrid Azure AD-joined devices
      https://docs.microsoft.com/en-us/troubleshoot/mem/intune/windows-failed-to-apply-mdm-policy

      ErrorCode:    0x8018000a (MENROLL_E_DEVICE_ALREADY_ENROLLED)
    -->
    <Suppress Path="System">
      *[System[Provider[@Name='Microsoft-Windows-GroupPolicy'] and EventID=1085]]
      and
      *[EventData[
        Data[@Name='ExtensionName'] and Data='MDM Policy' and
        Data[@Name='ErrorCode'] and Data=2149056522
      ]]
    </Suppress>
  </Query>
</QueryList>
