# ----------------------------- Config Settings -------------------------------

# Don't clear the eighth bit of input characters
#
# Enabling this setting is required for UTF-8 encoding.
set input-meta on

# Display characters with the eighth bit set directly
#
# Enabling this setting is required for UTF-8 encoding.
set output-meta on

# Convert characters with the eighth bit set to an ASCII key sequence
#
# Enabling this setting is incompatible with UTF-8 encoding.
set convert-meta off

# Handling of the terminal bell
#
# Valid values:
# - none            Never ring the bell
# - visible         Ring the visible bell
# - audible         Ring the audible bell
set bell-style none

# Bind to special control characters handled by the terminal driver
set bind-tty-special-chars on

# Briefly move the cursor to the opening parenthesis on entering the close
set blink-matching-paren off

# Display the common prefix of possible completions in a different colour
$if version >= 7.0
set colored-completion-prefix on
$endif

# Display completion matches using different colours to indicate file type
set colored-stats on

# String to insert at the beginning of the line for insert-comment command
set comment-begin '#'

# Number of screen columns used to display possible completion matches
#
# Ignored if <0 or greater than the terminal screen width.
#
# Valid values:
# -  0              Display one match per line
# - >0              Number of columns to use per line of matches
set completion-display-width -1

# Perform filename matching and completion case-insensitively
set completion-ignore-case on

# Treat hypens and underscores as interchangeable during completion
#
# Only applies if completion-ignore-case is enabled.
set completion-map-case on

# Maximum length of the common prefix in a list of completion matches which is
# displayed without modification. If >0, common prefixes longer than this value
# will be replaced with an ellipsis when displaying the possible completions.
set completion-prefix-display-length 0

# Number of possible completions for which confirmation is needed to display
#
# Valid values:
# - <0              Never prompt to display completion matches
# -  0              Always prompt to display completion matches
# - >0              Prompt if more than this number of matches
set completion-query-items 200

# Disable word completion
set disable-completion off

# Echo the corresponding control character for keyboard generated signals
set echo-control-characters off

# Default set of key bindings
#
# Valid values:
# - emacs           Emacs-style key bindings
# - vi              vi-style key bindings
set editing-mode emacs

# String displayed immediately before the last line of the primary prompt when
# emacs editing mode is active.
#
# Only applies if using emacs editing mode and show-mode-in-prompt is enabled.
$if version >= 7.0
set emacs-mode-string '@'
$endif

# Insert each paste into the editing buffer as a single string of characters
$if version >= 7.0
set enable-bracketed-paste on
$endif

# Enable the application keypad (needed to support arrow keys in some apps)
set enable-keypad on

# Enable any meta modifier key
set enable-meta-key on

# Perform tilde expansion when attempting word completion
set expand-tilde off

# Preserve the current cursor position when browsing history
set history-preserve-point off

# Maximum number of history entries to retain in the history list
#
# Valid values:
# - <0              Do not limit the number of history entries
# -  0              Do not retain and delete any existing history
# - >0              Number of history entries to retain
set history-size -1

# Scroll lines longer than the screen width being edited instead of wrapping
set horizontal-scroll-mode off

# String of characters to terminate an incremental search
set isearch-terminators '\C-[\C-J'

# Keymap for key binding commands
#
# The value of editing-mode affects the default keymap.
#
# Valid values:
# - emacs-standard      Synonyms: emacs
# - emacs-ctlx
# - emacs-meta
# - vi-command          Synonyms: vi, vi-move
# - vi-insert
#set keymap emacs

# Duration to wait for further input on an ambiguous key sequence. If no
# further input is received, the shorter but complete key sequence is used.
#
# Valid values:
# - <=0             Wait until the key sequence is unambiguous
# - >=1             Duration to wait for further input (milliseconds)
set keyseq-timeout 500

# Mark completed directory names with an appended slash
set mark-directories on

# Mark modified history lines with a prepended asterisk
set mark-modified-lines off

# Mark completed directory symlinks with an appended slash
#
# Only applies if mark-directories is enabled.
set mark-symlinked-directories on

# Include hidden files without a leading "." when performing completion
set match-hidden-files off

# Display the common prefix of the possible completions (which may be empty)
# before cycling through the completions list when performing menu completion.
set menu-complete-display-prefix off

# Display completion matches using an internal more-like pager if needed
set page-completions off

# Display completion matches sorted horizontally in alphabetical order
set print-completions-horizontally off

# Undo all changes to history lines before returning from accept-line
set revert-all-at-newline off

# List completion matches immediately when there's multiple completions
set show-all-if-ambiguous on

# List completion matches immediately when there's no common prefix
set show-all-if-unmodified on

# Add a character to the begining of the prompt showing the editing mode
set show-mode-in-prompt off

# Factor any text after the cursor position in a word into completion matching
set skip-completed-text on

# String displayed immediately before the last line of the primary prompt when
# vi editing mode is active and in command mode.
#
# Only applies if using vi editing mode and show-mode-in-prompt is enabled.
$if version >= 7.0
set vi-cmd-mode-string '(cmd)'
$endif

# String displayed immediately before the last line of the primary prompt when
# vi editing mode is active and in insertion mode.
#
# Only applies if using vi editing mode and show-mode-in-prompt is enabled.
$if version >= 7.0
set vi-ins-mode-string '(ins)'
$endif

# Append a character denoting a file's type when listing completion matches
set visible-stats on


# ------------------------------ Key Mappings ---------------------------------

# Set Home/End keys to jump to the beginning/end of line
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# Set Insert/Delete keys to insert/delete characters
"\e[2~": overwrite-mode
"\e[3~": delete-char

# Set Up/Down arrow keys to perform a command history prefix search
"\e[A": history-search-backward
"\e[B": history-search-forward

# Set Ctrl+Left/Right arrow keys to move to the adjacent word
"\e[D": backward-word
"\e[C": forward-word
"\e[1;2D": backward-word
"\e[1;2C": forward-word
"\e[1;5D": backward-word
"\e[1;5C": forward-word

# vim: syntax=readline cc=80 tw=79 ts=4 sw=4 sts=4 et sr
