# Readline configuration
# https://tiswww.cwru.edu/php/chet/readline/rluserman.html
#
# Last reviewed release: v8.3
# Default file paths in preference order:
# - $INPUTRC
# - ~/.inputrc
# - /etc/inputrc

# -------------------------------- Encoding -----------------------------------

# Enable 8-bit input (required for UTF-8)
#
# If enabled, the eighth bit of input characters will not be cleared regardless
# of what the terminal claims it can support. The default is disabled, but the
# setting will be automatically enabled if the locale contains characters whose
# encoding requires the eighth bit to be set. This setting is dependent on the
# LC_CTYPE environment variable and may change if the locale changes.
#
# The name "meta-flag" is an alias for this setting.
set input-meta on

# Enable 8-bit output (required for UTF-8)
#
# If enabled, characters with the eighth bit set will be displayed directly
# instead of as a meta-prefixed escape sequence. The default is disabled, but
# the setting will be automatically enabled if the locale contains characters
# whose encoding requires the eighth bit to be set. This setting is dependent
# on the LC_CTYPE environment variable and may change if the locale changes.
set output-meta on

# Enable 8-bit conversion (incompatible with UTF-8)
#
# If enabled, characters with the eighth bit set will be converted to a meta-
# prefixed escape sequence. The default is enabled, but the setting will be
# automatically disabled if the locale contains characters whose encoding
# requires the eighth bit to be set. This setting is dependent on the LC_CTYPE
# environment variable and may change if the locale changes. Key bindings may
# also be affected when enabled; see the "force-meta-prefix" setting.
set convert-meta off

# Convert binding key sequences to meta-prefixed escape sequences
#
# If enabled, binding key sequences containing a meta key are always converted
# to meta-prefixed escape sequences. If disabled, this behaviour is enabled if
# the "convert-meta" setting is enabled.
$if version >= 8.3
set force-meta-prefix off
$endif

# ------------------------------- Completion ----------------------------------

# Disable word completion
#
# If enabled, completion characters are mapped to the "self-insert" command.
set disable-completion off

# Display the common prefix of possible completions using a different colour
#
# Colour definitions are taken from the LS_COLORS environment variable.
set colored-completion-prefix on

# Display possible completions using different colours to indicate file type
#
# Colour definitions are taken from the LS_COLORS environment variable.
set colored-stats on

# Number of screen columns used to display possible completions
#
# Ignored if less than zero or greater than the terminal screen width.
#
# Valid values:
# -  0      Display one match per line
# - >0      Number of screen columns per line
set completion-display-width -1

# Perform filename matching and completion case-insensitively
set completion-ignore-case on

# Treat hypens and underscores as equal for filename matching and completion
#
# Only applies when "completion-ignore-case" is enabled.
set completion-map-case on

# Maximum number of characters in the common prefix of possible completions to
# display without modification.
#
# If greater than zero, common prefixes longer than this value will be replaced
# with an ellipsis. If filenames are being completed and a completion begins
# with a period, three underscores will be used instead of an ellipsis.
set completion-prefix-display-length 0

# Maximum number of possible completions to display without prompting the user
# for comfirmation.
#
# Valid values:
# - <=0     Never prompt to display completions
# - >=1     Number of completions which triggers a confirmation prompt
set completion-query-items 200

# Perform tilde expansion when performing word completion
set expand-tilde off

# Display completed directory names with an appended slash
set mark-directories on

# Display completed directory symlinks with an appended slash
#
# Only applies when "mark-directories" is enabled.
set mark-symlinked-directories on

# When performing filename matching, include hidden files without requiring the
# leading "." to be included in the filename.
set match-hidden-files off

# When performing menu completion, display the common prefix of possible
# completions before cycling through the completions list.
set menu-complete-display-prefix off

# Display possible completions using an internal more(1)-like pager
set page-completions off

# Display possible completions with matches sorted horizontally
set print-completions-horizontally off

# When there is more than one possible completion, display the completions
# immediately instead of ringing the terminal bell.
set show-all-if-ambiguous on

# When there is more than one possible completion and no partial completion,
# display the completions immediately instead of ringing the terminal bell.
set show-all-if-unmodified on

# Factor text after the cursor position in a word into completion matching,
# avoiding duplicating the portion of the word following the cursor.
set skip-completed-text on

# Append a character denoting a file's type when listing possible completions
set visible-stats on

# --------------------------------- Editing -----------------------------------

# Default set of key bindings
#
# Valid values:
# - emacs
# - vi
set editing-mode emacs

# Keymap for key binding commands
#
# Valid values:
# - emacs-standard
#   Synonyms: emacs
# - emacs-ctlx
# - emacs-meta
# - vi-command
#   Synonyms: vi, vi-move
# - vi-insert
set keymap emacs

# Handling of the terminal bell
#
# Valid values:
# - none        Never ring the bell
# - visible     Ring the visible bell
# - audible     Ring the audible bell
set bell-style none

# Bind control characters handled by terminal driver to Readline equivalents
set bind-tty-special-chars on

# Briefly move the cursor to the opening parenthesis on closing
set blink-matching-paren off

# String to insert at the beginning of a line by the "insert-comment" command
set comment-begin #

# Echo a corresponding control character for keyboard generated signals
set echo-control-characters off

# Insert each paste into the editing buffer as a single string of characters,
# instead of treating each character as if it was read from the keyboard.
set enable-bracketed-paste on

# Enable the application keypad (needed to support arrow keys on some systems)
set enable-keypad on

# Enable any meta modifier key the terminal claims to support
set enable-meta-key on

# Scroll lines longer than the screen width being edited instead of wrapping
set horizontal-scroll-mode off

# Duration to wait for further input on an ambiguous key sequence. If no
# further input is received the shorter but complete key sequence is used.
#
# Valid values:
# - <=0     Wait until the key sequence is unambiguous
# - >=1     Duration to wait for further input (milliseconds)
set keyseq-timeout 500

# Use the visible bell if available instead of ringing the terminal bell
#
# Overrides the "bell-style" setting.
#set prefer-visible-bell on

# Add a string to the begining of the prompt indicating the editing mode
set show-mode-in-prompt off

# String displayed immediately before the last line of the primary prompt when
# emacs editing mode is active.
#
# Only applies when "show-mode-in-prompt" is enabled.
set emacs-mode-string @

# String displayed immediately before the last line of the primary prompt when
# vi editing mode is active and in command mode.
#
# Only applies when "show-mode-in-prompt" is enabled.
set vi-cmd-mode-string (cmd)

# String displayed immediately before the last line of the primary prompt when
# vi editing mode is active and in insertion mode.
#
# Only applies when "show-mode-in-prompt" is enabled.
set vi-ins-mode-string (ins)

$if version >= 8.3
# Enable certain commands to designate a region as "active", highlighting the
# text in the region. See the "active-region-start-color" and "active-region-
# end-color" settings to control the highlighting.
set enable-active-region on

# Escape sequences to set text colour and background in an active region
#
# The default is obtained from the terminal's terminfo description.
#set active-region-start-color

# Escape sequences to reset text colour and background after an active region
#
# The default is obtained from the terminal's terminfo description.
#set active-region-end-color
$endif

# --------------------------------- History -----------------------------------

# Preserve the current cursor position when browsing history
set history-preserve-point off

# Number of history entries to retain in the history list
#
# Valid values:
# - <0      Do not limit the number of history entries
# -  0      Do not retain and delete existing history
# - >0      Maximum number of history entries to retain
set history-size -1

# String of characters to terminate an incremental history search
set isearch-terminators \e\C-j

# Mark modified history lines with a prepended asterisk
set mark-modified-lines off

# Undo changes to history lines before returning from "accept-line"
set revert-all-at-newline off

# Perform searches of the history list case-insensitively
$if version >= 8.3
set search-ignore-case off
$endif

# ------------------------------ Key bindings ---------------------------------

# Interrogate the Readline configuration
"\C-x\C-f": dump-functions
"\C-x\C-m": dump-macros
"\C-x\C-v": dump-variables

# Set Home/End keys to jump to the beginning/end of line
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# Set Insert/Delete keys to insert/delete characters
"\e[2~": overwrite-mode
"\e[3~": delete-char

# Set Up/Down arrow keys to perform a command history prefix search
"\e[A": history-search-backward
"\e[B": history-search-forward

# Set Ctrl+Left/Right arrow keys to move to the adjacent word
"\e[1;5D": backward-word
"\e[1;5C": forward-word

# Set Ctrl+R to perform an incremental backwards history search
"\C-r": reverse-search-history

# vim: syntax=readline cc=80 tw=79 ts=4 sw=4 sts=4 et sr
