# ************************* MySQL Command-Line Tool *************************

[mysql]
# Make our prompt useful (but alas, not beautiful)
prompt="[\h] \u@\d> "

# vim: syntax=mysql ts=4 sw=4 sts=4 et sr
