# Use Unicode characters in the package tree output
unicode = true

# Depth when recursing directories for various commands
depth = 0

# Defaults when initialising a package
init-author-email = sdl@nexiom.net
init-author-name = Samuel Leslie
init-author-url = https://github.com/ralish
init-license = MIT
init-version = 0.0.1

# vim: syntax=dosini cc=80 tw=79 ts=4 sw=4 sts=4 et sr
